* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Product Sans',Arial,sans-serif;
}

/* UTILITY */
.d-flex {
    display: flex;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 150px 0 50px;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    background: #fff;
} 

.header-top {
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.header-left a {
    font-size: 20px;
    font-weight: 500;
}

.header-right {
    align-items: center;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

a {
    color: #5f6368;
    text-decoration: none;
    margin-right: 10px;
}

.header-right a:last-child  {
    margin-right: 0;
    margin-left: 10px;
}

nav {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(151,151,151,0.5);
}

nav ul {
    list-style: none;
}

nav a {
    margin-right: 30px;
    font-size: 15px;
    font-weight: 500;
}

nav ul li:last-child a {
    color: #3367d6;
    font-weight: bold;
    border-bottom: 3px solid #3367d6;
    padding-bottom: 9px;
}

/* MAIN */
h2 {
    color: #3c4043;
    margin: 2rem 0;
}

p {
    line-height: 25px;
}
