* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Product Sans',Arial,sans-serif;
}

/* UTILITY */
.d-flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 50px 0;
}

header {
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
}

.header-left a {
    font-size: 20px;
    font-weight: 500;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

a {
    color: #5f6368;
    text-decoration: none;
    margin-right: 10px;
}

nav {
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid rgba(151,151,151,0.5);
}

nav ul {
    list-style: none;
}

nav a {
    margin-right: 30px;
    font-size: 15px;
    font-weight: 500;
}

